body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100;
    margin: 0;
    background-color: #FFC8DD;
}

header{
    background-color: #FF5C9A;
    position: fixed;
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
    background-color: antiquewhite;
    border-color: #FF5C9A;
    color: #FF5C9A;
    margin: 1px;
}

.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.row {
    display: flex;
    justify-content: center;
  }
  
.row img{
    width: 30.33%;
    height: auto;
    padding: 18px;
}