body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #FFC8DD;
}

#hangman {
    text-align: center;
}

#word {
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace; 
    white-space: pre-wrap; 
    color:#FF5C9A;
}

#letters {
    margin-bottom: 20px;
}

#message {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: "Roboto", sans-serif;
}

#remaining {
    margin: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
    background-color: antiquewhite;
    border-color: #FF5C9A;
    color: #FF5C9A;
    margin: 1px;
}

button[disabled] {
    opacity: 0.5; 
    cursor: not-allowed; 
}

.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

.robot-medium{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}
h3 { 
    font-family: "Pacifico", cursive;
    color: #FF5C9A;
    font-weight: 400;
    font-style: normal;
    font-size: 45px;
}